body {
  background: url('https://i.imgur.com/Uup339g.jpg');
  text-align: justify;
  width: 100%;
  height: 70%;
  max-height: 600px;
  color: black;
  font-size: 14px;
}
.row {
  width:50%;
}
.quotes{
position: center;
padding: 20% 40%;
width:600px;
max-width: 100%;
}
.container-fluid {
  max-width: 700px;
}
.board{
  padding: 20% 40%;
}

.welcome {
  background: #68979b;
  box-shadow: 1px 3px;
}
.side {
  background: url('https://i.imgur.com/5dPscuw.jpg');
color:purple;
    text-align: center;
    box-shadow: 1px 3px solid black;
    height: 500px;
    width: 70%;
    margin-left:50%;
    padding: 20% 10%;
}

form {
  background: white;
  color: teal;
  border: 2px teal;
  box-shadow: 1px 3px;
}

h1 {
  text-align: center;
  position: center;
  background: #68979b;
  box-shadow: 1px 3px;
}
h2{
  text-align: center;
  background: #68979b;
}

h3 {
  text-align: center;
  position: center;
background: white;
}

.container-fluid {
  text-align: center;
}

h4 {
  background: pink;
  border: 2px teal;
  box-shadow: 1px 3px;
}

p {
  text-align: center;
  background: white;
  border: 2px teal;
  box-shadow: 1px 3px;
  width: 100%;
}

.logo {
  background: white;
  border: 2px black;
  box-shadow: 1px 3px;
  height: 500px;
  width: 100%;

}
.posts{
  text-align: center;
  background: white;

}
#postsContainer{
  text-align: center;
  color:black;


}
// .nav {
//   @include make-row();
//   margin-left: 75%;
//   .nav-button {
//     @include make-lg-column(3);
//     @include make-md-column(3);
//     @include make-sm-column(3);
//     @include make-xs-column(3);
//   }
// }
