body {
  background: url('https://i.imgur.com/Uup339g.jpg');
  text-align: justify;
  width: 100%;
  height: 70%;
  max-height: 600px;
  color: black;
  font-size: 14px;
}
.row {
  text-align: center;

}
.quotes{
position: center;
width:700px;
max-width: 100%;
}
.container-fluid {
  max-width: 700px;
}
.board{
  text-align: center;

}

.welcome {
  background: #68979b;
  font-size:14px;
  box-shadow: 1px 3px;
}
.side {
    background: url('https://i.imgur.com/5dPscuw.jpg');
    color:purple;
    text-align: center;
    box-shadow: 1px 3px solid black;
    height: 500px;
    width: 70%;
    margin-left:15%;
    padding: 5%;
}

form {
  background: white;
  box-shadow: 1px 3px solid black;


  box-shadow: 1px 3px;
}

h1 {
  text-align: center;
  position: center;
  background: white;
  border: 2px black;
  box-shadow: 1px 3px;
}
h2{
  text-align: center;
  background: white;
}

h3 {
  text-align: center;
  position: center;
background: white;
}

.container-fluid {
  text-align: center;
}

h4 {
  background: pink;
  border: 2px black;
  box-shadow: 1px 3px;
}

p {
  text-align: center;
  background: white;
  box-shadow: 1px 3px;

}

.logo {
  background: white;
  border: 2px black;
  box-shadow: 1px 3px;
  height: 500px;
  width: 100%;

}
.posts{
  text-align: center;
  background: white;

}
#postsContainer{
  text-align: center;
  color:black;

}
#sign-in {
  width:100%;
}
// .nav {
//   @include make-row();
//   margin-left: 75%;
//   .nav-button {
//     @include make-lg-column(3);
//     @include make-md-column(3);
//     @include make-sm-column(3);
//     @include make-xs-column(3);
//   }
// }
