
body {
    background: url('https://i.imgur.com/Uup339g.jpg');
    color: black;
    font-size: 14px;


  }
.container-fluid {
width:100%;
}
#welcome-prompt {
  font-size: 20px;
  }
  form {
    background: white;
    color:teal;
    border:2px  teal;
    box-shadow: 1px 3px;


  }
  h1 {

  text-align:center;
    position: center;
    background: #68979b;
    box-shadow: 1px 3px;

  }
  h3 {
  text-align:center;
    position: center;
    background: #68979b;

    box-shadow: 1px 3px;

  }
  .container-fluid{

    text-align:center;

}
h4{
  background: pink;
  border:2px  teal;
  box-shadow: 1px 3px;
}

p {
  text-align: center;
    background: white;
    border:2px  teal;
    box-shadow: 1px 3px;
  width:100%;
}

.logo{
  background: url('https://i.imgur.com/5dPscuw.jpg');
  border:2px  black;
  box-shadow: 1px 3px;
  height:500px;

}

// .nav {
//   @include make-row();
//   margin-left: 75%;
//   .nav-button {
//     @include make-lg-column(3);
//     @include make-md-column(3);
//     @include make-sm-column(3);
//     @include make-xs-column(3);
//   }
// }
